@font-face {
    font-family: Coffee;
    src: url(../../../Fonts/Bread\ Coffee.otf);
}
@font-face {
    font-family: Rusilla;
    src: url(../../../Fonts//RusillaSerif-2OZpl.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%
}
.text h1{
    font-family: Rusilla;
    font-size: 2vw;
    letter-spacing: 0.3vw;
    font-weight: 800;
    transform: scaleY(2);
    margin-left: -5vw;
}