@font-face {
    font-family: Coffee;
    src: url(../../../Bread\ Coffee.otf);
}
@font-face {
    font-family: Cottage;
    src: url(DreamCottage-Regular.otf);
}
@font-face {
    font-family: Navbar-font;
    src: url(../../../Benidorm\ Trip.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%
}
.Navbar{
    display: flex;
    padding-top: 3vw;
    align-items: center;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 5vw;
}
.Navbar h1{
    font-size: 2.5vw;
    font-family: Navbar-font;
    font-weight: 500;
}
.Navbar h2{
    font-size: 1vw;
}